<div class="main-picture" style="background-color: red; width: 100%; height: 20vw; display: flex;justify-content: space-evenly;flex-direction: column;">
    <div class="main-picture-inner" style="display: flex;justify-content: center;flex-direction: column; height: 30%;">
        <div class="main-picture-title" style="padding-left: 5%;">
            <div style="font-size: 4vw;">{{page.title}}</page></div>
        </div>
        <div class="main-picture-subtitle" style="padding-left: 8%;">
            <div style="font-size: 2vw;">{{page.subtitle}}</div>
        </div>
    </div>
</div>
